body{
  text-align: center;
}
#pokemonImage{
  width: 200px;
  transition: 1.4s;
}

.runAway{
  transform: scale(0);
}

#error{
  color: red;
}

#infoField{
  text-align: center;
}

ul{
  margin: 10px auto;
  width: 200px;
}

.ability {
}
